.sell-ticket {
    font-size: 8pt;
    max-width: 6.501cm;
    padding: 0.6cm;
    text-align: center;
    border: 0px solid #eee;
    margin-top: 0em;
}
/*Tamaño del logo*/
.sell-ticket__logo1 {
    display: block;
    margin: 0 auto 10pt;
    max-width: 200px;
}
/*Tamaño QR*/
.sell-ticket__QR {
    display: block;
    margin: 0 auto 20pt;
    max-width: 100px;
}


.sell-ticket__subsidiary {
    text-transform: uppercase;
}

.sell-ticket__subsidiary span {
    display: block;
}

.sell-ticket__title1 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 2pt 0;
    margin-bottom: 10px;
}

.sell-ticket__client,
.sell-ticket__list1 {
    margin-top: 5pt;
}

.sell-ticket__client h2,
.sell-ticket__list h2,
.sell-ticket__list__total span:first-child,
.sell-ticket__list__total + p {
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2pt;
}

.sell-ticket__list li span {
    text-transform: uppercase;
}
.sell-ticket__list li span:last-child{
        width: 85%;
        margin-top: 3px;
        margin-bottom: 6;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
}

.sell-ticket__list__total {
    padding-top: 10pt;
    margin-bottom: 5pt;
    border-top: 1px solid #000;
}


.sell-ticket__footer {
    margin-top: 15px;
}
.sell-ticket__footer p {
    text-align: justify;
    text-transform: uppercase;
}
.city{
    margin-left: 5px;
}
.cp{
    margin-left: 0px;
}
