.sell-ticket {
    font-size: 8pt;
    max-width: 6.501cm;
    padding: 0.5cm;
    text-align: center;
    border: 1px solid #eee;
}
.sell-ticket_what {
   max-width: 12px;
}

.sell-ticket__logo {
    display: block;
    margin: 0 auto 20pt;
    max-width: 100px;
}

.sell-ticket__subsidiary {
    text-transform: uppercase;
}

.sell-ticket__subsidiary span {
    display: block;
}

.sell-ticket__title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20pt 0;
}

.sell-ticket__client,
.sell-ticket__list {
    margin-top: 20pt;
}

.sell-ticket__client h2,
.sell-ticket__list h2,
.sell-ticket__list__total span:first-child,
.sell-ticket__list__total + p {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5pt;
}

.sell-ticket__list li span {
    text-transform: uppercase;
}
.sell-ticket__list li span:last-child{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 6;
}
/* 
.sell-ticket__list__total {
    padding-top: 10pt;
    margin-bottom: 20pt;
    border-top: 1px solid #000;
} */


/* .sell-ticket__footer {
    margin-top: 40px;
} */
.sell-ticket__footer p {
    text-align: justify;
    text-transform: uppercase;
}