.sell-recipe {
    font-size: 10pt;
    padding: 2% 20% 0% 0%;
    display: flex;
    flex-direction: column;
    height: 10cm;
}

.sell-recipe
.ant-divider-inner-text {
    font-size: .8em;
    text-transform: uppercase;
}

.sell-recipe
.ant-divider {
    margin: 0;
}

.sell-recipe
.ant-table-wrapper {
    margin: 30pt 0;
}

.sell-recipe
.recipe__flex-container {
    border-bottom: 1px solid #000000;
    border-radius: 4px 1px 1px;
    padding: 5pt;
}

.sell-recipe__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10pt;
}

.sell-recipe__logo {
    max-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
}

.sell-recipe__title {
    margin: 8px 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.sell-recipe__total {
    width: 100%;
    margin-top: auto;
}

.sell-recipe__total + footer {
    margin-top: 20px;
}